/* regole generali */
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.container-center{
  width: 80%;
  margin: auto;
  padding: 50px 0;
}

.black_text{
  color: black;
}

.white_text{
  color: white;
}

.blu_text{
  color: blue;
}

.lightgrey_text{
  color: lightgrey;
}



/* regole header */
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

header .container-center{
  padding: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}


.logo>img{
width: 200px;
}

nav ul li{
  display: inline-block;
  background-color: pink;
  margin: 0 20px;
  list-style-type: none;
}

.hamburger{
  display: none;
}


/* regole jumbotron */
#my_jumbotron{
  background-image: url('../img/jumbo.svg');
  margin-top: 50px;
}

.jumbotron-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbotron-flex>div:first-child{
  flex-basis: 60%;
  border: 1px solid black;
}

.jumbotron-flex>div:last-child{
  flex-basis: 30%;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}


/* regole prima sezione main: #my_customers */
#my_customers{
  background-color: #F3F5F9;
  text-align: center;
}

.loghi-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.loghi-flex>div{
  border: 1px solid blue;
  flex-grow: 1;
}

.loghi-flex img{
  width: 100%;
  border: 1px solid red;
}


/* regole seconda sezione main: #my_why */
#my_why h2{
  text-align: center;
  margin-bottom: 30px;
}

#my_why ul li{
  list-style-type: none;
  padding: 10px 0;
  text-align: left;
  border: 1px solid blue;
}

.why-flex{
  display: flex;
  justify-content: space-around;
}

.why-flex-sx{
  flex-basis: 30%;
  display: flex;
  justify-content: center;
}

.why-flex-dx{
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
}

.why-flex-dx>div{
  flex-basis: 50%;
  border: 1px solid blue;
}


/* regole terza sezione main: #my_who */
#my_who,
#my_love{
  text-align: center;
  background-color: #F3F5F9;
}

.who-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.who-flex .img-container{
  flex-basis: 60%;
  margin: 30px 20px 20px;
}

.img-container>img{
  width: 100%;
}

.who-flex>div:first-child,
.who-flex>div:last-child{
  font-size: 30px;
}


/* regole quarta sezione main: #my_features */
#my_features h2{
  text-align: center;
}

.features-flex{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.features-flex>div{
  flex-basis: calc(100%/3);
  border: 1px solid black;
}


/* regole quinta sezione main: #my_countries */
#my_countries, #my_start{
  background-color: blue;
  text-align: center;
}

#my_countries ul{
  width: calc( (100% / 2) - 20px);
  display: inline-block;
}

#my_countries ul li{
  list-style-type: none;
  border-bottom: 1px solid white;
  padding: 10px;
}

.flex-countries{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.flex-city{
  display: flex;
  justify-content: space-between;
}

.flex-city>.white_text{
  text-align: left;
}

.flex-city>.white_text.due{
  flex-basis: 50%;
}


/* regole sesta sezione #my_love */
.img-container.box{
  padding: 20px;
  background-color: white;
}

.img-container.box img{
  width: 70%;
}


/* regole footer */
footer{
  background-color: darkblue;
}

.footer-flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



/* media query */
/* media query medium */
@media all and (max-width:1200px) {

  .hamburger{
    display: block;
  }

  .hidden-list{
    display: none;
  }

  .container-center{
    min-width: 90%;
    margin: auto;
  }

  .jumbotron-flex>div:last-child{
    flex-basis: 40%;
  }

  .flex-countries{
    flex-wrap: wrap;
  }

  #my_countries ul{
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-flex>div:first-child{
    flex-basis: 100%;
  }

  .footer-flex>div:nth-child(2),
  .footer-flex>div:nth-child(3),
  .footer-flex>div:nth-child(4),
  .footer-flex>div:last-child{
    flex-basis: 50%;
    margin-top: 20px;
  }

}


/* media query small */
@media all and (max-width:768px){
  .container-center{
    min-width: 100%;
    padding: 50px 20px;
  }

  header .container-center{
    padding: 0 20px;
  }

  .jumbotron-flex,
  .loghi-flex, .why-flex{
    flex-wrap: wrap;
  }

  .jumbotron-flex>div:first-child,
  .jumbotron-flex>div:last-child{
    flex-basis: 100%;
    padding: 0 20px;
  }

  .jumbotron-flex>div:first-child{
    margin-bottom: 30px;
  }

  .loghi-flex>div{
    flex-basis: 50%;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  .why-flex-sx, .why-flex-dx, .why-flex-dx>div {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .why-flex-sx{
    justify-content: flex-start;
  }

  .features-flex{
    flex-wrap: wrap;
  }

  .features-flex>div{
    flex-wrap: wrap;
    flex-basis: 100%;
    border: 1px solid red;
    margin-bottom: 20px;
  }

  .footer-flex>div:nth-child(2),
  .footer-flex>div:nth-child(3),
  .footer-flex>div:nth-child(4),
  .footer-flex>div:last-child{
    flex-basis: 100%;
    margin-top: 20px;
  }

}
