/* regole generali */
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.container-center{
  width: 80%;
  margin: auto;
  padding: 50px 0;
}

.black_text{
  color: black;
}

.white_text{
  color: white;
}

.blu_text{
  color: blue;
}

.lightgrey_text{
  color: lightgrey;
}



/* regole header */
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

header .container-center{
  padding: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.flex-item{
  border: 1px solid black;
}


nav>div:first-child>img{
width: 200px;
}

nav ul li{
  display: inline-block;
  background-color: pink;
  margin: 0 20px;
  list-style-type: none;
}

.hamburger{
  display: none;
}


/* regole jumbotron */
#my_jumbotron{
  background-image: url('../img/jumbo.svg');
  margin-top: 50px;
}

.jumbotron-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbotron-flex>div:first-child{
  width: 60%;
  border: 1px solid black;
  margin-bottom: 30px;
}

.jumbotron-flex>div:last-child{
  width: 30%;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}


/* regole prima sezione main: #my_customers */
#my_customers{
  background-color: #F3F5F9;
  text-align: center;
}

.loghi-flex{
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.loghi-flex>div{
  border: 1px solid blue;
}

.loghi-flex img{
  width: 100%;
  border: 1px solid red;
}


/* regole seconda sezione main: #my_why */
#my_why h2{
  text-align: center;
}
.why-flex{
  display: flex;
  justify-content: space-around;
}

.why-flex>div{
  background-color: red;
  border: 1px solid black;
}

/* .why-flex>div:first-child{
  /* width: 30%; */
}

/* .why-flex>div:last-child{ */
  /* width: 70%; */
/* } */

.why-flex > div:first-child > ul li{
  list-style-type: none;
  background-color: yellow;
}

.why-flex-dx{
  display: flex;
  flex-wrap: wrap;
}

.why-flex-dx>div{
  width: 50%;
}




/* media query */
/* media query medium */
@media all and (max-width:1200px) {

  .hamburger{
    display: block;
  }

  .hidden-list{
    display: none;
  }

  .container-center{
    min-width: 90%;
    margin: auto;
  }

  .jumbotron-flex>div:last-child{
    width: 40%;
  }


/* media query small */
@media all and (max-width:768px){
  .container-center{
    min-width: 100%;
    padding: 50px 20px;
  }

  header .container-center{
    padding: 0 20px;
  }

  .jumbotron-flex,
  .loghi-flex{
    flex-wrap: wrap;
  }

  .jumbotron-flex>div:first-child,
  .jumbotron-flex>div:last-child{
    width: 100%;
    padding: 0 20px;
  }

  .loghi-flex>div{
    width: 50%;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  .loghi-flex>div:last-child{
    width: 50%;
    padding: 0 20px;
  }
}
